<mat-toolbar color="primary" class="mat-elevation-z8 cmc-toolbar">
  <img class="cmc-header-logo" src="../assets/headerOptum.png" alt="Optum Logo"/><span>CMC Reports</span>
  <span class="cmc-spacer"></span>
</mat-toolbar>

<!--

<div *ngIf="authenticationService.isLoggedIn(); else showLoginPage">
  <app-header></app-header>
  <app-home-page></app-home-page>
</div>
<ng-template #showLoginPage>
  <div class="loggedInContainer">
    <app-login-form></app-login-form>
  </div>
</ng-template>
-->

<!--<app-header></app-header>-->
<app-home-page></app-home-page>
